<div class="row" id="about_us" name="about_us">
  </br>
  <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.about_us') %></h3>
  <div class="col-md-6 overlay-text">
    <div class="vertical-align">
</br>
      <ul>
        <li>Виробів із золота та столового срібла</li>
        <li>Виробів із золота та столового срібла</li>
        <li>Виробів із золота та столового срібла</li>
        <li>Мобільних телефонів, побутової та офісної техніки</li>
        <li>Електроінструментів</li>
        <li>Класичних музичних інструментів та музичного обладнання світових фірм</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 overlay-text">
    <div class="vertical-align">
      <%= image_tag("items.png") %>

    </div>
  </div>
</div>