<div class="black-bg white page-contact" id="page-contact">
  <div class="container">
    <div style="position: relative; z-index: 2;" id="contact_us" name="contact_us">
      <header>
        </br>
        <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'contact.contact') %></h3>
        <h1><%= (t 'contact.say_hello') %></h1>
      </header>
    </div>
  </div>

      <div id="map-canvas" style="position: relative; z-index: 2;"></div>

  <div class="container">
    <div class="row" style="position: relative; z-index: 2;">
      <header>
        <div class="col-md-6 col-md-offset-3">
          <table cellpadding='2' cellspacing='2' border='0' align='left' width='100%' style="margin-top: 20px;">
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td id="address">м. Київ, вул. Академіка Булаховського 5Б</td>
              <input type="hidden" id="address" value="м. Київ, вул. Академіка Булаховського 5Б" />
              <td>
                068 3452274</br>
                044 3903148
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Київ, вул. Фрунзе 109В/1</td>
              <input type="hidden" id="address" value="м. Київ, вул. Фрунзе 109В/1" />
              <td>
                068 3452275</br>
                044 4685001
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Київ, вул. Братиславська 14А</td>
              <input type="hidden" id="address" value="м. Київ, вул. Братиславська 14А" />
              <td>
                068 3450002</br>
                044 5138384
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Київ, вул. Декабристів 3</td>
              <input type="hidden" id="address" value="м. Київ, вул. Декабристів 3" />
              <td>
                068 3450333</br>
                044 3590312
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Боярка, вул. Білогородська 43</td>
              <input type="hidden" id="address" value="м. Боярка, вул. Білогородська 43" />
              <td>
                068 3450001</br>
                045 98 47560
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Васильків, вул. Володимирська 13</td>
              <input type="hidden" id="address" value="м. Васильків, вул. Володимирська 13" />
              <td>
                068 3450003</br>
                045 71 23843
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Фастів, вул. Соборна 47</td>
              <input type="hidden" id="address" value="м. Фастів, вул. Соборна 47" />
              <td>
                068 3450004</br>
                045 65 52557
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Біла Церква, вул. Леваневського 32</td>
              <input type="hidden" id="address" value="м. Біла Церква, вул. Леваневського 32" />
              <td>
                068 3450005
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center style="border-bottom: 1px solid lightgray">
              <td>
                <img alt="" onclick="codeAddress()" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px; cursor: pointer">
              </td>
              <td>м. Буча, вул. Енергетиків 14А</td>
              <input type="hidden" id="address" value="м. Буча, вул. Енергетиків 14А" />
              <td>
                068 3452201</br>
                045 97 26101
              </td>
            </tr>
            <tr bgcolor='' valign=center align=center>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
          </table>
        </div>
      </header>
    </div>

  </div>
  <div id="map-image">
    <img src="assets/map_bck.jpg" alt="Treble">
  </div>
</div>
</div>