<div style="background-color: #98d56e;">
  <div class="container">
    <div class="row">
      <div style="color: #ffffff" class="text-center">
        <div class="col-md-12"><h1 style="padding-top: 5%;"><%= (t 'menu.about_lombard') %></h1></div>
        <div class="col-md-12"><h4><%= (t 'menu.about_us_pluses') %></h4></div>
        <div class="col-md-6 col-md-offset-3"><p><%= (t 'menu.about_us_pluses_text') %></p></div>
      </div>
    </div>
  </div>

</div>