<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
<%= render 'static_pages/about' %>
</div>
</br>
<!--Contact us-->
<%= render 'static_pages/contacts' %>
<%= render 'static_pages/finance' %>