<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
<!--<%= render 'static_pages/about_service' %>-->
</div>
</br>
<!--Contact us-->
<%= render 'static_pages/contacts' %>
</br>