# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.rvmrc
.ruby-*
.secret
.idea/workspace.xml

.idea/workspace.xml
tmp/

tmp/cache/assets/development/sprockets/e71bd6ae63d35de9db6ab673944e52e6

tmp/cache/assets/development/sprockets/f7cbd26ba1d28d48de824f0e94586655

*.log
