<header class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Пектораль", root_path, id: "logo" %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to (I18n.t 'menu.about_us'), root_path + "#about_us" %></li>
          <li><%= link_to (I18n.t 'menu.contact_us'), root_path + "#contact_us" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>